In [19]:
import os
import pandas as pd

In [20]:
# WE ASSUME THEY ARE NAMED THE SAME IN BOTH IMG AND LABELS DIR
IMG_DIR = '/Users/kuba/Documents/data/raw/face-detection-dataset/images/'
LABELS_DIR = '/Users/kuba/Documents/data/raw/face-detection-dataset/labels/' 
SAVE_DIR = '/Users/kuba/Documents/data/raw/face-detection-dataset'

In [21]:
def to_csv(img_dir):
    df = pd.DataFrame()
    for img in sorted(os.listdir(img_dir)):
        name, _ = img.split(".")
        new_row = {'img':f"{name}.jpg", 'label':f"{name}.txt"}
        df = pd.concat([df, pd.DataFrame([new_row])])
    return df

In [22]:
train_df = (to_csv(os.path.join(IMG_DIR,'train')))
test_df = (to_csv(os.path.join(IMG_DIR,'val')))

print(f"Train: {len(train_df)} Test: {len(test_df)}")

Train: 13386 Test: 3347

In [23]:
train_df.head()

                    img                 label
0  00006c07d2b033d1.jpg  00006c07d2b033d1.txt
0  0000bee39176697a.jpg  0000bee39176697a.txt
0  0000eda1171fe14e.jpg  0000eda1171fe14e.txt
0  00090bdd55ec42c3.jpg  00090bdd55ec42c3.txt
0  000d1eae99343db8.jpg  000d1eae99343db8.txt

In [24]:
test_df.head()

                    img                 label
0  0003d5dfa8f0dd41.jpg  0003d5dfa8f0dd41.txt
0  0007ad5c6245a41d.jpg  0007ad5c6245a41d.txt
0  000cc0cd61c6c8d7.jpg  000cc0cd61c6c8d7.txt
0  001ea8a8ca78a3bc.jpg  001ea8a8ca78a3bc.txt
0  00430ce61009c131.jpg  00430ce61009c131.txt

In [25]:
train_df.to_csv(os.path.join(SAVE_DIR,"train.csv"), index=False)
test_df.to_csv(os.path.join(SAVE_DIR,"test.csv"), index=False)